# Modified version of GitHub's unity .gitignore: https://github.com/github/gitignore/blob/main/Unity.gitignore

.vs/
.gradle/
[Aa]ssets/[Pp]lugins/[Ee]ditor/JetBrains*
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*

[Rr]ecordings/
[Mm]emoryCaptures/

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/

[Bb]uild/
[Bb]uilds/
*.apk
*.aab
*.unitypackage
*.app

[Ee]xportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

crashlytics-build.properties
